*{
    margin: 0;
    padding: 0;
    font-family: ;
    background: #522B2E;
    color: white;
}

.container{
    width: 100%;
    height: 100%;
}

.menu ul{
    display: inline-flex;
    margin: 20px;
    color: white;
}

.menu li{
    list-style: none;
    margin: 0 60px;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.logo img{
    width: 100px;
    margin-top: -7px;
    margin-right: 50px;
}

.active{
    color: white; 
    /* to highlight HOME, change white to a different colour */
}

.banner{
    width: 20px;
    height: 70%;
    top: 25%;
    left: 80px;
    position: absolute;
    color: white;
}

.app-text{
    width: 20%;
    float: left;
}

.app-text h1{
    font-size: 43px;
    width: 150px;
    position: relative;
    margin-left: 40px;
}

.app-text p{
    width: 200px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: white;
}

.column{
    margin-right: 100px;
    right: 100px;
    float: right;
    width: 20%;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.desc_column{
    margin-right: 70px;
    margin-top: -30px;
    font-size: 30px;
    color: white;
    float: right;
    width: 22%;
    text-align: center;
}

.desc_row::after{
    content: "";
    clear: both;
    display: table;
}

.img_description{
    color: white;
    text-align: center;
}

a:link:visited{
    color: white;
}